.container {
  height: 100vh;
  grid-template-columns: 200px auto 300px;
  display: grid;
  grid-gap: 0px;
}

@media screen and (max-width: 600px) and (max-height: 600px) {
  body {
    overflow-x: scroll;
  }
}

.col-1 {
  /* position: fixed;
  width: 200px; */
  border: 5px solid red;
  /* height: 100%;
  left: 0px;
  top: 0px; */
}

.col-2 {
  border: 5px solid black;
}

.col-3 {
  /* position: fixed;
  width: 300px; */
  border: 5px solid red;
  /* height: 100%;
  right: 0px;
  top: 0px; */
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.sectionCategory {
  margin: 5px;
}